In [1]:
import baostock as bs
import pandas as pd
import numpy as np

## 从Python Baostock库下载sh.000300、sh.600519的股票数据，并存入CSV

In [5]:
# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

login success!
login respond error_code:0
login respond  error_msg:success

In [6]:
rs = bs.query_history_k_data_plus("sh.000300",
    "date,code,open,high,low,close,preclose,volume,amount,pctChg",
    start_date='2019-5-01', end_date='2021-05-23', frequency="d")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

In [7]:
# 打印结果集
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)
# 结果集输出到csv文件
result.to_csv("000300.csv", index=False)
print(result)

           date       code       open       high        low      close  \
0    2019-05-06  sh.000300  3775.0760  3791.6110  3647.1400  3684.6160
1    2019-05-07  sh.000300  3702.2650  3738.1760  3671.8340  3720.6680
2    2019-05-08  sh.000300  3648.5480  3722.9320  3642.4980  3667.4570
3    2019-05-09  sh.000300  3637.3460  3656.8960  3584.8220  3599.7000
4    2019-05-10  sh.000300  3643.0550  3732.9230  3589.2900  3730.4510
..          ...        ...        ...        ...        ...        ...
494  2021-05-17  sh.000300  5115.3063  5206.6947  5115.3063  5184.9853
495  2021-05-18  sh.000300  5190.9345  5201.6721  5156.7924  5187.6013
496  2021-05-19  sh.000300  5173.1666  5193.5574  5151.6392  5172.2720
497  2021-05-20  sh.000300  5167.0546  5201.5935  5152.0358  5186.4120
498  2021-05-21  sh.000300  5199.1285  5216.1615  5123.1171  5134.1483

      preclose       volume             amount     pctChg
0    3913.2110  19747288320  254115401728.0000  -5.841600
1    3684.6160  13284765440  183659159552.0000   0.978400
2    3720.6680  11286735616  145058488320.0000  -1.430100
3    3667.4570  10103739392  141829095424.0000  -1.847500
4    3599.7000  14800384768  195067170816.0000   3.632300
..         ...          ...                ...        ...
494  5110.5901  15388963400  335439913424.1000   1.455707
495  5184.9853  11840426100  238182265921.9000   0.050453
496  5187.6013  11872998300  250736278155.8000  -0.295499
497  5172.2720  13845477500  277088462047.3000   0.273381
498  5186.4120  12476848500  268053627530.6000  -1.007704

[499 rows x 10 columns]

In [8]:
rs = bs.query_history_k_data_plus("sh.600519",
    "date,code,open,high,low,close,preclose,volume,amount,pctChg",
    start_date='2019-5-01', end_date='2021-05-23', frequency="d")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

In [9]:
# 打印结果集
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)
# 结果集输出到csv文件
result.to_csv("600519.csv", index=False)
print(result)

           date       code       open       high        low      close  \
0    2019-05-06  sh.600519   925.5000   935.0000   893.0000   906.0000
1    2019-05-07  sh.600519   893.2800   913.9400   870.2200   890.0000
2    2019-05-08  sh.600519   860.0000   901.8000   860.0000   884.4000
3    2019-05-09  sh.600519   875.0000   879.8700   842.5000   858.8100
4    2019-05-10  sh.600519   875.6600   910.7800   868.1900   907.1200
..          ...        ...        ...        ...        ...        ...
494  2021-05-17  sh.600519  2025.1000  2085.2000  2025.1000  2057.9600
495  2021-05-18  sh.600519  2065.0000  2077.0000  2045.0600  2059.3100
496  2021-05-19  sh.600519  2059.0000  2074.8100  2040.0000  2049.0000
497  2021-05-20  sh.600519  2074.0000  2074.1000  2045.3600  2058.8800
498  2021-05-21  sh.600519  2055.0800  2079.8800  2037.0200  2042.1000

      preclose    volume            amount     pctChg
0     974.0000  13509968  12299395806.0000  -6.981520
1     906.0000  10083726   9045117765.0000  -1.766004
2     890.0000   8188298   7217709507.0000  -0.629211
3     884.4000   9154515   7863312116.0000  -2.893490
4     858.8100   7990738   7121198718.0000   5.625225
..         ...       ...               ...        ...
494  2009.8500   4452400   9178509985.3700   2.393700
495  2057.9600   1750428   3595891741.8300   0.065600
496  2059.3100   2240972   4606452358.4700  -0.500700
497  2049.0000   2185716   4500663211.2500   0.482200
498  2058.8800   2424823   4976601457.7900  -0.815000

[499 rows x 10 columns]

In [10]:
bs.logout()

logout success!

## 读取两个表格的数据，进行计算收益率，并合并两表，再合入无风险收益率，为CAPM建模做准备

In [11]:
data_000300=pd.read_csv('000300.csv',index_col=['date'])

In [12]:
data_000300

,code,open,high,low,close,preclose,volume,amount,pctChg
date,,,,,,,,,
2019-05-06,sh.000300,3775.0760,3791.6110,3647.1400,3684.6160,3913.2110,19747288320,2.541154e+11,-5.841600
2019-05-07,sh.000300,3702.2650,3738.1760,3671.8340,3720.6680,3684.6160,13284765440,1.836592e+11,0.978400
2019-05-08,sh.000300,3648.5480,3722.9320,3642.4980,3667.4570,3720.6680,11286735616,1.450585e+11,-1.430100
2019-05-09,sh.000300,3637.3460,3656.8960,3584.8220,3599.7000,3667.4570,10103739392,1.418291e+11,-1.847500
2019-05-10,sh.000300,3643.0550,3732.9230,3589.2900,3730.4510,3599.7000,14800384768,1.950672e+11,3.632300
...,...,...,...,...,...,...,...,...,...
2021-05-17,sh.000300,5115.3063,5206.6947,5115.3063,5184.9853,5110.5901,15388963400,3.354399e+11,1.455707
2021-05-18,sh.000300,5190.9345,5201.6721,5156.7924,5187.6013,5184.9853,11840426100,2.381823e+11,0.050453
2021-05-19,sh.000300,5173.1666,5193.5574,5151.6392,5172.2720,5187.6013,11872998300,2.507363e+11,-0.295499
2021-05-20,sh.000300,5167.0546,5201.5935,5152.0358,5186.4120,5172.2720,13845477500,2.770885e+11,0.273381
2021-05-21,sh.000300,5199.1285,5216.1615,5123.1171,5134.1483,5186.4120,12476848500,2.680536e+11,-1.007704

In [13]:
data_600519=pd.read_csv('600519.csv',index_col=['date'])

In [14]:
data_600519

,code,open,high,low,close,preclose,volume,amount,pctChg
date,,,,,,,,,
2019-05-06,sh.600519,925.50,935.00,893.00,906.00,974.00,13509968,1.229940e+10,-6.981520
2019-05-07,sh.600519,893.28,913.94,870.22,890.00,906.00,10083726,9.045118e+09,-1.766004
2019-05-08,sh.600519,860.00,901.80,860.00,884.40,890.00,8188298,7.217710e+09,-0.629211
2019-05-09,sh.600519,875.00,879.87,842.50,858.81,884.40,9154515,7.863312e+09,-2.893490
2019-05-10,sh.600519,875.66,910.78,868.19,907.12,858.81,7990738,7.121199e+09,5.625225
...,...,...,...,...,...,...,...,...,...
2021-05-17,sh.600519,2025.10,2085.20,2025.10,2057.96,2009.85,4452400,9.178510e+09,2.393700
2021-05-18,sh.600519,2065.00,2077.00,2045.06,2059.31,2057.96,1750428,3.595892e+09,0.065600
2021-05-19,sh.600519,2059.00,2074.81,2040.00,2049.00,2059.31,2240972,4.606452e+09,-0.500700
2021-05-20,sh.600519,2074.00,2074.10,2045.36,2058.88,2049.00,2185716,4.500663e+09,0.482200
2021-05-21,sh.600519,2055.08,2079.88,2037.02,2042.10,2058.88,2424823,4.976601e+09,-0.815000

In [15]:
#对000300计算收益率
data_ret_000300=np.log(data_000300['close']/data_000300['close'].shift(1)).cumsum()

In [16]:
#将收益率作为一列
data_000300['ret_000300']=np.exp(data_ret_000300)

In [17]:
data_000300

,code,open,high,low,close,preclose,volume,amount,pctChg,ret_000300
date,,,,,,,,,,
2019-05-06,sh.000300,3775.0760,3791.6110,3647.1400,3684.6160,3913.2110,19747288320,2.541154e+11,-5.841600,NaN
2019-05-07,sh.000300,3702.2650,3738.1760,3671.8340,3720.6680,3684.6160,13284765440,1.836592e+11,0.978400,1.009784
2019-05-08,sh.000300,3648.5480,3722.9320,3642.4980,3667.4570,3720.6680,11286735616,1.450585e+11,-1.430100,0.995343
2019-05-09,sh.000300,3637.3460,3656.8960,3584.8220,3599.7000,3667.4570,10103739392,1.418291e+11,-1.847500,0.976954
2019-05-10,sh.000300,3643.0550,3732.9230,3589.2900,3730.4510,3599.7000,14800384768,1.950672e+11,3.632300,1.012440
...,...,...,...,...,...,...,...,...,...,...
2021-05-17,sh.000300,5115.3063,5206.6947,5115.3063,5184.9853,5110.5901,15388963400,3.354399e+11,1.455707,1.407198
2021-05-18,sh.000300,5190.9345,5201.6721,5156.7924,5187.6013,5184.9853,11840426100,2.381823e+11,0.050453,1.407908
2021-05-19,sh.000300,5173.1666,5193.5574,5151.6392,5172.2720,5187.6013,11872998300,2.507363e+11,-0.295499,1.403748
2021-05-20,sh.000300,5167.0546,5201.5935,5152.0358,5186.4120,5172.2720,13845477500,2.770885e+11,0.273381,1.407585
2021-05-21,sh.000300,5199.1285,5216.1615,5123.1171,5134.1483,5186.4120,12476848500,2.680536e+11,-1.007704,1.393401

In [18]:
#对600519计算收益率
data_ret_600519=np.log(data_600519['close']/data_600519['close'].shift(1)).cumsum()

In [19]:
#将收益率作为一列
data_600519['ret_600519']=np.exp(data_ret_600519)

In [20]:
data_600519

,code,open,high,low,close,preclose,volume,amount,pctChg,ret_600519
date,,,,,,,,,,
2019-05-06,sh.600519,925.50,935.00,893.00,906.00,974.00,13509968,1.229940e+10,-6.981520,NaN
2019-05-07,sh.600519,893.28,913.94,870.22,890.00,906.00,10083726,9.045118e+09,-1.766004,0.982340
2019-05-08,sh.600519,860.00,901.80,860.00,884.40,890.00,8188298,7.217710e+09,-0.629211,0.976159
2019-05-09,sh.600519,875.00,879.87,842.50,858.81,884.40,9154515,7.863312e+09,-2.893490,0.947914
2019-05-10,sh.600519,875.66,910.78,868.19,907.12,858.81,7990738,7.121199e+09,5.625225,1.001236
...,...,...,...,...,...,...,...,...,...,...
2021-05-17,sh.600519,2025.10,2085.20,2025.10,2057.96,2009.85,4452400,9.178510e+09,2.393700,2.271479
2021-05-18,sh.600519,2065.00,2077.00,2045.06,2059.31,2057.96,1750428,3.595892e+09,0.065600,2.272969
2021-05-19,sh.600519,2059.00,2074.81,2040.00,2049.00,2059.31,2240972,4.606452e+09,-0.500700,2.261589
2021-05-20,sh.600519,2074.00,2074.10,2045.36,2058.88,2049.00,2185716,4.500663e+09,0.482200,2.272494
2021-05-21,sh.600519,2055.08,2079.88,2037.02,2042.10,2058.88,2424823,4.976601e+09,-0.815000,2.253974

In [21]:
#将两个表合并
data_con=pd.DataFrame(data_000300[['close','ret_000300']])
data_temp=pd.DataFrame(data_600519[['close','ret_600519']])

In [22]:
data_con

                close  ret_000300
date
2019-05-06  3684.6160         NaN
2019-05-07  3720.6680    1.009784
2019-05-08  3667.4570    0.995343
2019-05-09  3599.7000    0.976954
2019-05-10  3730.4510    1.012440
...               ...         ...
2021-05-17  5184.9853    1.407198
2021-05-18  5187.6013    1.407908
2021-05-19  5172.2720    1.403748
2021-05-20  5186.4120    1.407585
2021-05-21  5134.1483    1.393401

[499 rows x 2 columns]

In [23]:
data_temp

              close  ret_600519
date
2019-05-06   906.00         NaN
2019-05-07   890.00    0.982340
2019-05-08   884.40    0.976159
2019-05-09   858.81    0.947914
2019-05-10   907.12    1.001236
...             ...         ...
2021-05-17  2057.96    2.271479
2021-05-18  2059.31    2.272969
2021-05-19  2049.00    2.261589
2021-05-20  2058.88    2.272494
2021-05-21  2042.10    2.253974

[499 rows x 2 columns]

In [26]:
data_con=data_con.join(data_temp,lsuffix='_000300', rsuffix='_600519')

In [27]:
data_con

            close_000300  ret_000300  close_600519  ret_600519
date
2019-05-06     3684.6160         NaN        906.00         NaN
2019-05-07     3720.6680    1.009784        890.00    0.982340
2019-05-08     3667.4570    0.995343        884.40    0.976159
2019-05-09     3599.7000    0.976954        858.81    0.947914
2019-05-10     3730.4510    1.012440        907.12    1.001236
...                  ...         ...           ...         ...
2021-05-17     5184.9853    1.407198       2057.96    2.271479
2021-05-18     5187.6013    1.407908       2059.31    2.272969
2021-05-19     5172.2720    1.403748       2049.00    2.261589
2021-05-20     5186.4120    1.407585       2058.88    2.272494
2021-05-21     5134.1483    1.393401       2042.10    2.253974

[499 rows x 4 columns]

In [28]:
data_con=data_con.dropna()
data_con

            close_000300  ret_000300  close_600519  ret_600519
date
2019-05-07     3720.6680    1.009784        890.00    0.982340
2019-05-08     3667.4570    0.995343        884.40    0.976159
2019-05-09     3599.7000    0.976954        858.81    0.947914
2019-05-10     3730.4510    1.012440        907.12    1.001236
2019-05-13     3668.7250    0.995687        892.00    0.984547
...                  ...         ...           ...         ...
2021-05-17     5184.9853    1.407198       2057.96    2.271479
2021-05-18     5187.6013    1.407908       2059.31    2.272969
2021-05-19     5172.2720    1.403748       2049.00    2.261589
2021-05-20     5186.4120    1.407585       2058.88    2.272494
2021-05-21     5134.1483    1.393401       2042.10    2.253974

[498 rows x 4 columns]

## 根据中华人民共和国财政部公布的风无险收益率，http://yield.chinabond.com.cn/cbweb-czb-web/czb/moreInfo?locale=cn_ZH 开始日期选择为19年10月8日，两年期的无无险收益率为2.62%

In [29]:
ret_rf=np.linspace(1,1.0262,498)
ret_rf

array([1.        , 1.00005272, 1.00010543, 1.00015815, 1.00021087,
       1.00026358, 1.0003163 , 1.00036901, 1.00042173, 1.00047445,
       1.00052716, 1.00057988, 1.0006326 , 1.00068531, 1.00073803,
       1.00079074, 1.00084346, 1.00089618, 1.00094889, 1.00100161,
       1.00105433, 1.00110704, 1.00115976, 1.00121247, 1.00126519,
       1.00131791, 1.00137062, 1.00142334, 1.00147606, 1.00152877,
       1.00158149, 1.00163421, 1.00168692, 1.00173964, 1.00179235,
       1.00184507, 1.00189779, 1.0019505 , 1.00200322, 1.00205594,
       1.00210865, 1.00216137, 1.00221408, 1.0022668 , 1.00231952,
       1.00237223, 1.00242495, 1.00247767, 1.00253038, 1.0025831 ,
       1.00263581, 1.00268853, 1.00274125, 1.00279396, 1.00284668,
       1.0028994 , 1.00295211, 1.00300483, 1.00305755, 1.00311026,
       1.00316298, 1.00321569, 1.00326841, 1.00332113, 1.00337384,
       1.00342656, 1.00347928, 1.00353199, 1.00358471, 1.00363742,
       1.00369014, 1.00374286, 1.00379557, 1.00384829, 1.00390101,
       1.00395372, 1.00400644, 1.00405915, 1.00411187, 1.00416459,
       1.0042173 , 1.00427002, 1.00432274, 1.00437545, 1.00442817,
       1.00448089, 1.0045336 , 1.00458632, 1.00463903, 1.00469175,
       1.00474447, 1.00479718, 1.0048499 , 1.00490262, 1.00495533,
       1.00500805, 1.00506076, 1.00511348, 1.0051662 , 1.00521891,
       1.00527163, 1.00532435, 1.00537706, 1.00542978, 1.00548249,
       1.00553521, 1.00558793, 1.00564064, 1.00569336, 1.00574608,
       1.00579879, 1.00585151, 1.00590423, 1.00595694, 1.00600966,
       1.00606237, 1.00611509, 1.00616781, 1.00622052, 1.00627324,
       1.00632596, 1.00637867, 1.00643139, 1.0064841 , 1.00653682,
       1.00658954, 1.00664225, 1.00669497, 1.00674769, 1.0068004 ,
       1.00685312, 1.00690584, 1.00695855, 1.00701127, 1.00706398,
       1.0071167 , 1.00716942, 1.00722213, 1.00727485, 1.00732757,
       1.00738028, 1.007433  , 1.00748571, 1.00753843, 1.00759115,
       1.00764386, 1.00769658, 1.0077493 , 1.00780201, 1.00785473,
       1.00790744, 1.00796016, 1.00801288, 1.00806559, 1.00811831,
       1.00817103, 1.00822374, 1.00827646, 1.00832918, 1.00838189,
       1.00843461, 1.00848732, 1.00854004, 1.00859276, 1.00864547,
       1.00869819, 1.00875091, 1.00880362, 1.00885634, 1.00890905,
       1.00896177, 1.00901449, 1.0090672 , 1.00911992, 1.00917264,
       1.00922535, 1.00927807, 1.00933078, 1.0093835 , 1.00943622,
       1.00948893, 1.00954165, 1.00959437, 1.00964708, 1.0096998 ,
       1.00975252, 1.00980523, 1.00985795, 1.00991066, 1.00996338,
       1.0100161 , 1.01006881, 1.01012153, 1.01017425, 1.01022696,
       1.01027968, 1.01033239, 1.01038511, 1.01043783, 1.01049054,
       1.01054326, 1.01059598, 1.01064869, 1.01070141, 1.01075412,
       1.01080684, 1.01085956, 1.01091227, 1.01096499, 1.01101771,
       1.01107042, 1.01112314, 1.01117586, 1.01122857, 1.01128129,
       1.011334  , 1.01138672, 1.01143944, 1.01149215, 1.01154487,
       1.01159759, 1.0116503 , 1.01170302, 1.01175573, 1.01180845,
       1.01186117, 1.01191388, 1.0119666 , 1.01201932, 1.01207203,
       1.01212475, 1.01217746, 1.01223018, 1.0122829 , 1.01233561,
       1.01238833, 1.01244105, 1.01249376, 1.01254648, 1.0125992 ,
       1.01265191, 1.01270463, 1.01275734, 1.01281006, 1.01286278,
       1.01291549, 1.01296821, 1.01302093, 1.01307364, 1.01312636,
       1.01317907, 1.01323179, 1.01328451, 1.01333722, 1.01338994,
       1.01344266, 1.01349537, 1.01354809, 1.0136008 , 1.01365352,
       1.01370624, 1.01375895, 1.01381167, 1.01386439, 1.0139171 ,
       1.01396982, 1.01402254, 1.01407525, 1.01412797, 1.01418068,
       1.0142334 , 1.01428612, 1.01433883, 1.01439155, 1.01444427,
       1.01449698, 1.0145497 , 1.01460241, 1.01465513, 1.01470785,
       1.01476056, 1.01481328, 1.014866  , 1.01491871, 1.01497143,
       1.01502414, 1.01507686, 1.01512958, 1.01518229, 1.01523501,
       1.01528773, 1.01534044, 1.01539316, 1.01544588, 1.01549859,
       1.01555131, 1.01560402, 1.01565674, 1.01570946, 1.01576217,
       1.01581489, 1.01586761, 1.01592032, 1.01597304, 1.01602575,
       1.01607847, 1.01613119, 1.0161839 , 1.01623662, 1.01628934,
       1.01634205, 1.01639477, 1.01644748, 1.0165002 , 1.01655292,
       1.01660563, 1.01665835, 1.01671107, 1.01676378, 1.0168165 ,
       1.01686922, 1.01692193, 1.01697465, 1.01702736, 1.01708008,
       1.0171328 , 1.01718551, 1.01723823, 1.01729095, 1.01734366,
       1.01739638, 1.01744909, 1.01750181, 1.01755453, 1.01760724,
       1.01765996, 1.01771268, 1.01776539, 1.01781811, 1.01787082,
       1.01792354, 1.01797626, 1.01802897, 1.01808169, 1.01813441,
       1.01818712, 1.01823984, 1.01829256, 1.01834527, 1.01839799,
       1.0184507 , 1.01850342, 1.01855614, 1.01860885, 1.01866157,
       1.01871429, 1.018767  , 1.01881972, 1.01887243, 1.01892515,
       1.01897787, 1.01903058, 1.0190833 , 1.01913602, 1.01918873,
       1.01924145, 1.01929416, 1.01934688, 1.0193996 , 1.01945231,
       1.01950503, 1.01955775, 1.01961046, 1.01966318, 1.0197159 ,
       1.01976861, 1.01982133, 1.01987404, 1.01992676, 1.01997948,
       1.02003219, 1.02008491, 1.02013763, 1.02019034, 1.02024306,
       1.02029577, 1.02034849, 1.02040121, 1.02045392, 1.02050664,
       1.02055936, 1.02061207, 1.02066479, 1.02071751, 1.02077022,
       1.02082294, 1.02087565, 1.02092837, 1.02098109, 1.0210338 ,
       1.02108652, 1.02113924, 1.02119195, 1.02124467, 1.02129738,
       1.0213501 , 1.02140282, 1.02145553, 1.02150825, 1.02156097,
       1.02161368, 1.0216664 , 1.02171911, 1.02177183, 1.02182455,
       1.02187726, 1.02192998, 1.0219827 , 1.02203541, 1.02208813,
       1.02214085, 1.02219356, 1.02224628, 1.02229899, 1.02235171,
       1.02240443, 1.02245714, 1.02250986, 1.02256258, 1.02261529,
       1.02266801, 1.02272072, 1.02277344, 1.02282616, 1.02287887,
       1.02293159, 1.02298431, 1.02303702, 1.02308974, 1.02314245,
       1.02319517, 1.02324789, 1.0233006 , 1.02335332, 1.02340604,
       1.02345875, 1.02351147, 1.02356419, 1.0236169 , 1.02366962,
       1.02372233, 1.02377505, 1.02382777, 1.02388048, 1.0239332 ,
       1.02398592, 1.02403863, 1.02409135, 1.02414406, 1.02419678,
       1.0242495 , 1.02430221, 1.02435493, 1.02440765, 1.02446036,
       1.02451308, 1.02456579, 1.02461851, 1.02467123, 1.02472394,
       1.02477666, 1.02482938, 1.02488209, 1.02493481, 1.02498753,
       1.02504024, 1.02509296, 1.02514567, 1.02519839, 1.02525111,
       1.02530382, 1.02535654, 1.02540926, 1.02546197, 1.02551469,
       1.0255674 , 1.02562012, 1.02567284, 1.02572555, 1.02577827,
       1.02583099, 1.0258837 , 1.02593642, 1.02598913, 1.02604185,
       1.02609457, 1.02614728, 1.0262    ])

In [30]:
data_con['ret_rf']=ret_rf
data_con

<ipython-input-30-e3444bd83e81>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_con['ret_rf']=ret_rf

            close_000300  ret_000300  close_600519  ret_600519    ret_rf
date
2019-05-07     3720.6680    1.009784        890.00    0.982340  1.000000
2019-05-08     3667.4570    0.995343        884.40    0.976159  1.000053
2019-05-09     3599.7000    0.976954        858.81    0.947914  1.000105
2019-05-10     3730.4510    1.012440        907.12    1.001236  1.000158
2019-05-13     3668.7250    0.995687        892.00    0.984547  1.000211
...                  ...         ...           ...         ...       ...
2021-05-17     5184.9853    1.407198       2057.96    2.271479  1.025989
2021-05-18     5187.6013    1.407908       2059.31    2.272969  1.026042
2021-05-19     5172.2720    1.403748       2049.00    2.261589  1.026095
2021-05-20     5186.4120    1.407585       2058.88    2.272494  1.026147
2021-05-21     5134.1483    1.393401       2042.10    2.253974  1.026200

[498 rows x 5 columns]

In [31]:
data_con.to_csv('capm_data.csv')